.checklist {
  width: 500px;
  height: 800px;
  border: 1px solid black;
  background-color: white;
}

#button {
  width: 100%;
  border-radius: 5px;
  
}

input {
  width: 492px;
  margin-top: 10px;

}

ol {
  border: 1px solid black; 
  width: 100;
  text-align: center;
}

.crossline {
  text-decoration: line-through;
}

.editinput {
  width: 300px
}

.notebutton {
 
}